#nave-play, #nave-leaderboard, #nave-quit {
    position: absolute;
    transition: transform, visibility;
    transition-duration: 1s;
    z-index: 0;
    visibility: hidden;
}

#nave-play {
    top: 0;
    left: -50px;
}

@keyframes cresent {
  0% {
    transform: translate(0px, 0px) scale(0.9);
    box-shadow: none;
  }
  50% {
    transform: translate(0px, 0px) scale(1.02);
    box-shadow: 0 0 10px #f9f3f2, 0 0 80px 8px #fff59e;
    background-color: #fffee9;
  }
  100% {
    transform: translate(0px, -0px) scale(0.9);
    box-shadow: none;
  }
}

.moon {
  background-image: linear-gradient(30deg, #9b9c9e, #2a2d33);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: absolute;
  animation: 4s spin linear infinite both;
}
.sun {
  width: 256px;
  height: 256px;
  background-color: #f7f4cc;
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: 5s cresent linear infinite alternate;
}

@keyframes spin {
  from {
    transform: translate(0%, 0%);
  }

  to {
    transform: translate(0%, 0%) rotate(360deg);
  }
}

#nave-intro{
  position: absolute;
  top: 50%;
  left: -100px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  z-index: -1;
}

.floating-intro { 
  animation: floating 5s ease-in-out infinite
}

@keyframes floating {
  0% { transform: translate(0,  0px) rotate(-5deg); }
  33%  { transform: translate(0, -35px) rotate(-3deg); }
  66%   { transform: translate(0, 25px) rotate(3deg); }
  100%   { transform: translate(0, -0px) rotate(-5deg); }    