@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("animations.css");

* {
  font-family: 'VT323', monospace;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/background.png");
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h3 {
  color: white;
  font-size: 5em;
  z-index: 1;
}

.intro p {
  color: white;
}

.pop-up {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/background.png");
  color: white;
  opacity: 1;
  z-index: 2;
}

.pop-up div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.menu {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu p {
  color: white;
  font-size: 3.5em;
}

.menu nav ul {
	list-style-type: none;
	padding: 0;
}

.menu nav ul li {
	font-size: 2em;
	height: 1em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
  padding: 10px;
}

.menu nav ul li span {
	color: white;
	mix-blend-mode: difference;
}

.menu nav ul li::before {
	content: '';
	position: absolute;
	width: 0.5em;
	height: inherit;
	background-color: white;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

.menu nav ul li:hover::before {
	transform: scale(35.5);
}

.leaderboard {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.leaderboard p {
  font-size: 2em;
  color: white;
}

.leaderboard table {
  color: white;
  width: 65%;
  max-width: 700px;
  height: 500px;
  text-align: center;
}

.leaderboard table th {
  height: 2em;
  font-size: 1.75em;
  text-transform: uppercase;
}

.leaderboard table td {
  font-size: 1.5em;
}

.leaderboard table th,
.leaderboard table td {
  border: 1px solid white;
}

canvas {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.countdown {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: flex-end;
}

.countdown p {
  color: white;
  font-size: 5em;
  padding: 25px;
  background-color: black;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.game-over p {
  height: fit-content;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 3em;
}

button {
  font-size: 1.5em;
}

.game-stats {
  visibility: hidden;
}

.left-side {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 25px;
}

.left-side .text-title,
.left-side .text {
  padding-left: 15px;
  color: white;
  pointer-events: none;
}

.left-side .text-title {
  margin: 15px 0 0 0;
  font-size: 1.5em;
}

.left-side .text {
  margin: 0;
  font-size: 3em;
}

.game-stats .middle {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-stats .middle .lives {
  margin: 15px 0 0 0;
}

.highest-score {
  position: absolute;
  top: 0;
  right: 0;
}

.highest-score .text-title,
.highest-score .text {
  padding-right: 15px;
  color: white;
  pointer-events: none;
}

.highest-score .text-title {
  margin: 15px 0 0 0;
  font-size: 1.5em;
}

.highest-score .text {
  margin: 0;
  font-size: 3em;
  text-align: right;
}

.username {
  position: relative;
  margin: 0.5em;
  padding: 10px;
}

.username input {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #9b9b9b;
  font-size: 2em;
  color: #fff;
  background: transparent;
  transition: border-color 0.2s;
}

.username input::placeholder {
  color: transparent;
}

.username input:placeholder-shown ~ label {
  font-size: 2em;
  cursor: text;
  top: 0px;
}

.username label {
  position: absolute;
  top: -20px;
  transition: 0.2s;
  font-size: 1.25em;
  color: #9b9b9b;
}

.username input:focus {
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #74FAC8);
  border-image-slice: 1;
}
.username input:focus ~ label {
  position: absolute;
  top: -20px;
  transition: 0.3s;
  font-size: 1.25em;
  color: #74FAC8;
}